/* Fonts */
@font-face {
    font-family: 'ProximaNova_bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova_reg';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.reg() {
	font-family: 'ProximaNova_reg', sans-serif;
}

.bold() {
	font-family: 'ProximaNova_bold', sans-serif; ;
}

/* Colors */
@btn-color: #FFB504;
@icons-color: #70c849;
@text: #1A1820;
@danger: #ff0000;
@bg-light: #F5F5F5;
@light: #fff;

/* Basic settings */
body {
	.reg();
	
}

html {
	font-size: 10px;
	width: 100%;
	height: 100%;
}

button, a, input, textarea {
	&:focus {
		outline: none;
	}
	resize: none;
}

section {
	padding: 10rem 0;
}

/* main */
.main {
	padding: 3rem 0 5rem;
	background: #fff url(../img/main-bg.jpeg) center center no-repeat;
	background-size: cover;
	padding: 3rem;
	
	&-content {
		margin-top: 10rem;
		
			h1 {
				text-transform: uppercase;
				line-height: 5.8rem;
				font-size: 4rem;
				.bold();
			}
	}
		

	&-sub {
		font-size: 2.4rem;
		margin: 4.7rem 0;
	}


	
	span {
		display: inline-block;
		padding: 2.6rem 4.5rem;
		background-color: @icons-color;
		color: @light;
		font-size: 1.8rem;
		text-align: center;
		margin-bottom: 3rem;
	}
	
	strong {
		font-size: 3rem;
		.bold(); 
	}
	
	&-trigger {
		font-size: 0.2px;
		display: block;
		text-transform: uppercase;
		font-size: 2.4rem;
		line-height: 5.8rem;
		margin-top: -1rem;
		.bold();
	}

	&-form {
		background-color: @light;
		padding: 4.5rem 5rem;
		text-align: center;
		margin-top: 1.2rem;
		

		h2 {
			font-size: 1.6rem;
			margin-bottom: 3rem;
			
			strong {
				font-size: 1.8rem;

			}
		}
		 &-input {
		 	display: block;
		 	padding: 1.6rem;
		 	width: 100%;
		 	border: 1px solid #dddddd;
		 	border-radius: 5px;
		 	margin: 3rem 0;
		 	font-size: 1.5rem;
		 	
		 }
		 	

		label {
			position: absolute;
			background-color: @light;
			transform: translate(-50%,-50%);
			color: #565656;
			font-size: 1.3rem;

		}

		&-btn {
			display: block;
			width: 100%;
			height: 7rem;
			font-size: 1.6rem;
			margin-bottom: 1.5rem;
			box-shadow: 4px 7px 13px 0px rgba(0,0,0,0.03);
			width: 27rem;
			margin: auto;
		}
			

		small {
			display: block;
			font-size: 1.2rem;
			margin-top: 2rem;
		}
	}

	.ps {
		margin: 1rem 8rem 0 0;
		text-align: right;
		font-size: 1.2rem;

	}


}

.phone {
	&-block {
		text-align: right;
	}

	&-link {
	
		.bold();
		text-decoration: none;
		color: @text;
		font-size: 2rem;
		
	}
		
	
}

.header {
	&-btn {
		
		font-size: 1.2rem;
		display: inline-block;
		box-shadow: 4px 7px 13px 0px rgba(0,0,0,0.03);
	}
		
}

.button {
	text-transform: uppercase;
	color :@light;
	background-color: @btn-color;
	padding: 1.5rem 3.8rem;
	border: none;
	border-radius: 8px;
	border: 1px solid #ffba15;
	cursor: pointer;
	transition: all 0.2s;
	&:hover {
		background-color: darken(@btn-color, 7%);
		border: 2px solid white;
	}
}
	
// Features 



.features {
	text-align: center;

	&-img img {
		display: block;
		margin: 0 auto;
		height: 7rem;
	}

	h2 {
		font-size: 3.6rem;
		.bold();
		margin: 10rem 0;
	}

	h3 {
		font-size: 2rem;
		margin: 5rem 0 3rem 0;
		.bold();
	}

		
	p {
		font-size: 1.4rem;
		display: inline-block;
		width: 90%;
	}

	a {
		color: @icons-color;
	}
		
}

// Slick-slider

.slick-active {
	outline: none;
}

.arrow {
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	z-index: 99;
	width: 2rem;
	height: 2rem;
	border: none;
}

.prev {
	left: 0;
	margin-left: 3rem;
	background: url(../img/features/left_arrow.png) center no-repeat;
	background-size: 70%;
}

.next {
	right: 0;
	margin-right: 3rem;
	background: url(../img/features/right_arrow.png) center no-repeat;
	background-size: 70%;
}

/* Popup */
.popup {
	display: none;
	text-align: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	z-index: 9;
	
	&-content {
		position: fixed;
		background-color: @light;
		left: 50%;
		transform: translateX(-50%);
		top: 10%;

		h3{
			font-size: 1.8rem;
			.bold();
		}

		p {
			font-size: 1.8rem;
		}

	}
	
	&-close {
		position: absolute;
		top: -2.7rem;
		left: 39rem;
		font-size: 5rem;
		background-color: transparent;
		border: none;
		color: @light;
		
	}	
		
}

/* Price */

.price {
	background: @icons-color url(../img/price/prices-bg.jpg) center;
	background-size: cover;
	text-align: center;

	.section-header-light {
		color: @light;
		font-size: 3.6rem;
		.bold();
	}

	p {
		color: @light;
		font-size: 1.7rem;
		margin-bottom: 10rem;
	}

	&-tag {
		
		font-size: 2.3rem;
		line-height: 2rem;
		.bold();
	}

	

	&-btn {
		font-size: 1.3rem;
		margin-top: 1.5rem;
		&-header {
			font-size: 1.4rem;
			float: right;
		}
	}

	&-block {
		text-align: center;
		min-height: 50rem;
		padding:  1rem 2rem;
		background-color: @light;
		box-shadow: 7px 12px 21px 0px rgba(0,0,0,0.17);
		// margin-bottom: 2rem;
		img {
			margin-bottom: 3rem;
			width: 100%;
		}

		h3 {
			font-size: 1.7rem;
			line-height: 2rem;
			.bold();
			padding: 5rem 0 3rem 0;
		}

	}
	 ul {
	 	margin: 3rem 0 0 -5rem;
	 	min-height: 12rem;
	}

	li {
		 list-style: none;
		 font-size: 1.6rem;
		
		 &:before {
		 	content: '';
		 	display:inline-block;
		 	width: 1rem;
		 	height: 1rem;
		 	background: url(../img/price/check.svg) center no-repeat;
		 	background-size: 100%;
			margin-right: 1rem;
		 }

	}
}

/* Feedback */
.feedback {
	
	background: url(../img/feedback/feedback-bg.jpg) center no-repeat;
	background-size: cover;

	.information {
		p {
			font-size: 1.6rem;
		}
	}

	h2 {
		font-size: 3.6rem;
		.bold();
		text-align: center;
		margin: 5rem 0;
	}

	&-prev {
		left: -2rem;
		z-index: 99;
	}

	&-next {
		right: -6rem;
		z-index: 99;
	}

	&-slider {

		&-btn {
			position:absolute;
			top: 50%;
			transform: translateX(-50%);
			border:none;
			background-color: @icons-color;
			width: 4rem;
			height: 5rem;
			background-size: 100%;

			img {
				width: 40%;
				height: 60%;
			}
		}	
		
		&-item {
			background-color: @light;
			padding: 5rem;
			box-shadow: 6px 10px 18px 0px rgba(0,0,0,0.1);

			.media {
				margin-top: 2rem;

			}
		}

	}

	&-form {
		
		background-color: @light;
		text-align: center;
		box-shadow: 4px 7px 13px 0px rgba(0,0,0,0.03);
		width: 100%;
		margin-top: 5rem;
		padding: 1rem;
		h2 {
			font-size: 2.2rem;
		}

		label {
			position: absolute;
			transform: translate(-50%,110%);
		}
	}
		
		.comment {
			h5 {
				font-size: 1.7rem;
				line-height: 2.2rem;
				margin-left: 0.7rem;
			}
		
			span {
				font-size: 1.5rem;
				line-height: 2.2rem;
				margin-left: 0.7rem;
			}
		}
		.hand {
			position: absolute;
			z-index:99;
			bottom: 0;
			right: 90%;
			top: 50%;
			width: 35rem;

		}
}


			
				
	.blockquote {
	  position: relative;
	  z-index: 1;
	  min-width: 100%;
	  height: 9rem;
	  background: transparent;
	  border: 2px solid @icons-color;
	  padding: 0;
	  margin: 3rem 5rem 0 -6rem ;

	 .quote {
	 	p {
	 		font-size: 1.4rem;
	 		line-height: 1.8rem;
	 		font-style: italic;
	 		padding: 1rem;
	 	}
	 }

		&:before {
			  content: '';
			  position: absolute;
			  z-index: 1;
			  width: 0;
			  height: 0;
			  left: 5rem;
			  top: -4rem;
			  border: 20px solid;
			  border-color: transparent transparent @icons-color @icons-color;
		}
			  
		
		&:after {
			content: '';
			  position: absolute;
			  z-index: 1;
			  width: 0;
			  height: 0;
			  left: 5.45rem;
			  top: -3rem;
			  border: 1.8rem solid;
			  border-color: transparent transparent #fff #fff;
		}
	}


/* Media */
@media (max-width: 1200px) {

		
		h1 {
			font-size: 3.9rem;
		}
		
		&-sub {
			font-size: 2.2rem;
		}

		span {
			padding: 2rem 3rem;
		}	
	
		

		.price {
			
			p {
				font-size: 1.4rem;
			}

			h3 {
				font-size: 1.6rem;
			}

			&-btn-header {
				padding: 2rem;
			}

			&-block {
				img {
					display: block;
					margin: 0 auto;
					margin-bottom: 2rem;
				}
			}
		}	
				
	.feedback {
		.media {
			span {
				margin-left: -3%;
			}
		}

		&-form {
			padding: 0;
		}
	}			
	
	
	
	.information {
		margin-top: 3rem;
	}
}



@media (max-width: 991px) {
	.main {
		background-position: top right;

		&-content {
			text-align: center;
		}
		
		h1 {
			font-size: 3rem;
		}

	}

	.phone-block {
		text-align: center;
	}
	
	
	.ps {
		margin-right: 3rem;
		display: inline-block;
		color: @light;
	}

	.price {
		&-block {
			margin-bottom: 3rem;
		}

		p {
			margin-bottom: 0;
		}
		
		&-btn-header {
			float: none;
			margin: 3rem 0;
		}
	}
	
	.feedback {
		.blockquote {
			height: 100%;
		}

		.information {
			p {
				font-size: 1.5rem;
			}
		}	
		
		.media {
			span {
				margin-left: -4%;
			}
		}
	
		.hand {
			display: none;
		}
	}
			


}

@media (max-width: 767px) {
	.main {
		background-position: top left;
	}
		
	
	.header {
		text-align: center;
	}
	
	.button {
		&-block {
			text-align: center;
		}
	}


	.phone-block {
		margin: 3rem 0;
	}

	.ps {
		color: @text;
	}

	.features {
		h2 {
			font-size: 2.6rem;
		}
	}

	.popup-close {
		position: absolute;
		transform: translateX(-1rem);
		
	}
	
	.feedback {
		.media {
			span {
				margin-left: -7%;
			}
		
		}

		strong {
			font-size: 1.4rem;
		}
	}

}

@media (max-width: 600px) {
	.feedback {
		&-prev {
			margin-left: 4rem;
			margin-top: -10rem;
		}
		
		&-next {
			margin-right: 4rem;
			margin-top: -10rem;
		}

	}
}


@media (max-width: 575px) {
	.main {

		&-content {
			text-align: center;
			h1 {
				font-size: 2rem;
				margin-top: -5rem;
			}
		}
	}
		
	
	.ps {
		font-size: 0.5rem;
		
	}	


	.popup-close {
		position: absolute;
		transform: translateX(-2rem);
		
	}
}	

@media (max-width: 531px) {
	.main-content {
		h1 {
			font-size: 1.9rem;
		}
	}
	
	.ps {
		margin-left: -30rem;
	}
}

@media (max-width: 529px) {
	.feedback-form {
		padding: 0;
	}
}

@media (max-width: 509px) {
	.feedback {
		
		label {
			font-size: 1.2rem;
		}

		.phone-label {

			position: absolute;
			transform: translate(-50%,115%);
		}
		
		.name-label {
			position: absolute;
			transform: translate(-50%,115%);
		}
	}
}

@media (max-width: 477px) {
	.feedback {
		
		label {
			font-size: 1.1rem;
		}

		.phone-label {

			position: absolute;
			transform: translate(-50%,145%);
		}
		
		.name-label {
			position: absolute;
			transform: translate(-50%,135%);
		}
	}
}

@media (max-width: 436px) {
	.main-content {
		button {
			width: 22rem;
			height: 5rem;
		}

	}
	
	.feedback {
		&-prev {
			
			margin-top: -17rem;
		}
		
		&-next {
			
			margin-top: -17rem;
		}


	}
}

@media (max-width: 447px) {
	.feedback {
		
		label {
			font-size: 1rem;
		}
		.name-label {
			
			position: absolute;
			transform: translate(-50%,140%);
		}
	}
	
}


@media (max-width: 412px) {
	.main {
		&-form {
			&-btn {
				font-size: 1.5rem;
				height: 5rem;
			}
		}
	}

	.popup {
		&-content {
			width: 70%;
			height: 70%;

			.main-form-btn {
				width: 20rem;
				height: 7rem;
				font-size: 1.3rem;
			}
				
			
			p {
				font-size: 1.6rem;
			}


		}
		
		&-close {
			
			position: absolute;
			left: 107%;
		}
	}

	.feedback {
		.media {
			span {
				margin-left: -12%;
			}
		}

		.phone-label {
			width :60%;
		}
	}
}
		
@media (max-width: 393px) {
	.request {
		margin-left: -0.6rem;
		
	}
}


@media (max-width: 386px) {
	
		.main {
			&-sub {
				font-size: 2.2rem;
			}	
		
			.request {
				margin-left: -0.2rem;
				height: auto;
				width: auto;
				font-size: 1.2rem;
			}
		}

	
	.popup {
		.main-form-btn {
			font-size: 1.2rem;
			margin-left: -0.5rem;
		}
	}
}

@media (max-width: 376px) {
	.ps {
		display: inline;
	}

	.main-form {
		margin-bottom: 3rem;
	}
	
	.feedback {
		.media {
			span {
				margin-left: -12%;
			}
		}
		
		&-form {
			label {
				padding: 0;
			}
		}
	}	
}

	
@media (max-width: 356px) {
	.popup {
		.main-form-btn {
			margin-left: -1.6rem;
		}
	}

	.main-content {
		.ps {
			display: inline;
			margin-top: 200rem;
		}
	}

}
	



	




